/modules/contrib
/nodejs/.monitor
/nodejs/config.json
/nodejs/main_*
/nodejs/certs
/nodejs/certs/*
/drupal/img/*
/drupal_module/.sass-cache
/drupal_module/.ruby-version
/drupal_module/css/*.custom.css
/drupal_module/sass/*.custom.scss
/drupal_module/scripts/startchat.sh
/drupal_module/scripts/start_ch_chat.sh
/drupal_module/scripts/stopchat.sh
/drupal_module/scripts/restart_wrapper.sh
/drupal_module/translations/*.po~
/drupal_module/bin/
/logs
.brackets.json
.vscode/
/db-template
/*.komodoproject
/.idea
.ruby-version
.DS_Store
VERSION
node_modules
npm-debug.log
/NodeJsWebApplication/nbproject/private/
/nbproject/
