body.page-opeka-widgets-header {
    margin: 15px;
}

html body.admin-menu.page-opeka-widgets-header {
    margin-top: 15px !important;
}

/* Buttons */
.login-button {
    bottom: 15px;
    position: absolute;
    right: 15px;
}

.chat-open .login-button .btn {
  background-color: #72d477;
}

.status-content {
  margin: 0;
  max-width: 300px;
}

.status-content ul{
  margin: 0;
  padding: 0;
}

.status-content ul li{
  font-size: 12px;
  list-style: none;
}

.status-info {
  font-size: 12px; 
}
.read-more {
  display: inline-block; 
  margin: 10px 0 0; 
  text-align: center; 
  width: 100%;
}
.read-more a {
  color: #0B5A7C; 
  font-size: 12px; 
  text-decoration: none;
}
.read-more a:hover{
  text-decoration: underline;
}