<script id="opeka_backend_tmpl" type="x-jquery-tmpl">
  <div id="opeka-backend">
    <form action="#" class="connect-interface">
      <label for="nickname">Kaldenavn</label>
      <input id="nickname" type="text" placeholder="Anonym" value="${user.name}" /><br />
      <button class="connect">Klar til chat…</button> 
    </form>
	
    <form id="opeka-chat" class="element-hidden">
	  <table>
	    <thead><th id="th-room" colspan="2"></th></thead>
	    <tbody>
		  <tr>
		    <td></td>
		    <td style="border-bottom: 1px dashed; border-left: 1px dashed;"> Users </td>
		  </tr>
		  <tr>
		    <td>
        	  <ul id="chat-message-list">
                <li class="placeholder">Ingen beskeder modtaget.</li>
              </ul>
            </td>
		    <td style="border-left: 1px dashed;">
			  <ul id="chat-user-list">
                <li class="placeholder">No users.</li>
              </ul>
			</td>
		  </tr>
		  <tr><td colspan="2" style="border-top: 1px dashed;">
            <label for="opeka-chat-message">Skriv en besked</label>
      	    <input size="50" id="opeka-chat-message" placeholder="Message" type="text" />
      	    <button id="opeka-send-message">Send besked</button>
		</tbody>
	  </table>
	
      <label for="bookmark-list">Send a bookmarked link</label>
	  <select id="bookmark-list"  name="bookmark-list">
	        <option value="www.au.dk" selected="selected">www.au.dk</option>
	        <option value="www.cyberhus.dk">www.cyberhus.dk</option>
	   </select>
      <button id="opeka-send-bookmark">Send bookmark</button>

      <label for="opeka-mute-clientId">Mute an user</label>
      <input id="opeka-mute-clientId" placeholder="User ID" type="text" />
      <button id="opeka-mute">Mute user</button>

      <label for="opeka-unmute-clientId">Unmute an user</label>
      <input id="opeka-unmute-clientId" placeholder="User ID" type="text" />
      <button id="opeka-unmute">Unmute user</button>
	  
	  <h3>Pause</h3>
      <button id="opeka-pause">Pause chatroom</button>
      <button id="opeka-unpause">Unpause chatroom</button>


      <label for="opeka-whisper-message">Whisper to an user</label>
      <input id="opeka-whisper-message-user" placeholder="User ID" type="text" />
      <input id="opeka-whisper-message" placeholder="Message" type="text" />
      <button id="opeka-send-whisper-message">Send whisper</button>

      <label for="opeka-delete-message">Delete Message</label>
      <input id="opeka-delete-message" placeholder="Message ID" type="text" />
      <button id="opeka-delete">Delete Message</button>

      <label for="opeka-deleteall-messages">Delete All Messages from an User</label>
      <input id="opeka-deleteall-messages" placeholder="Client ID" type="text" />
      <button id="opeka-deleteall">Delete All Messages</button>

      <label for="opeka-kick-user">Kick an User</label>
      <input id="opeka-kick-user" placeholder="Client ID" type="text" />
      <input id="opeka-kick-message" placeholder="Message" type="text" />
      <button id="opeka-kick">Kick</button>

    </form>

	<div id="final-message" title="Final Chat Message from Counselor"></div>

	<div id="errors" title="Error"></div>

    <form action="#" class="online-interface element-hidden">
      <h3>Vælg et eksisterende rum</h3>

      <h3>Public chatrooms</h3>
      <ul id="opeka-room-list">
        <li class="placeholder">Ingen rum aktive.</li>
      </ul>

      <h3>Private chatrooms</h3>
      <ul id="opeka-trial-room-list">
        <li class="placeholder">Ingen rum aktive.</li>
      </ul>

      <h3>Opret et nyt chatrum</h3>
      <label for="room-name">Create Room</label>
      <input id="room-name" placeholder="Room Name" type="text" />
	  Size:
	  <select id="room-size"  name="room-size">
	        <option value="2" selected="selected">2</option>
	        <option value="5">5</option>
	        <option value="10">10</option>
	        <option value="20">20</option>
	        <option value="30">30</option>
	   </select>
	  Private:
      <input id="room_private_id" type="checkbox" name="room-private" value="Y"/>

      <button class="create-room">Opret rum</button> 

      <label for="del-room">Delete Room:</label>
      <input id="del-room" type="text" placeholder="Room ID" />
      <input id="del-room-final-message" type="text" placeholder="Final Message" />
      <button class="delete-room">Delete</button>

    </form>

    <p id="opeka-online-status">
      Der er <span class="guests">0</span> gæster og
      <span class="councellors">0</span> rådgivere online.
    </p>

  </div>
</script>

<script id="opeka_room_list_item_tmpl" type="x-jquery-tmpl">
  <li class="room">
    <a href="#${roomUrl}">${roomName}</a> Id-${roomUrl}
  </li>
</script>

<script id="opeka_chat_message_tmpl" type="x-jquery-tmpl">
  {{if message.system}}
    <li class="system-message">${message.message}</li>
  {{else message.whisper}}
    <li class="whisper-message">
      <span class="sender-name">[${message.name} - WHISPER]:</span> 
      <span class="message">${message.message}</span>
	</li>
  {{else}}
  <div id="${message.messageId}" class="${message.senderId}">
	  <li class="chat-message">
		    <span class="sender-name">[${message.name}]:</span> 
		    <span class="message">${message.message}</span>
		    <span class="message-id">Message ID = ${message.messageId}</span>
	  </li>
  </div>
  {{/if}}
</script>

<script id="opeka_user_list_item_tmpl" type="x-jquery-tmpl">
  {{if user.muted }}
	  <li class="user">
	    [Muted] ${user.nickname} - ${user.clientId}
	  </li>
  {{else}}
	  <li class="user">
	    ${user.nickname} - ${user.clientId}
	  </li>
  {{/if}}

</script>

