<script id="opeka_room_clear_tmpl" type="application/template">
  <p><%= labels.explanation %></p>
</script>


<script id="opeka_kick_user_tmpl" type="application/template">
  <form action="#" class="kick-user-form">
    <label>
      <%= labels.kickMessage %>
      <input class="form-text kick-message" name="kick-message" type="textfield" />
    </label>
  </form>
</script>

<script id="opeka_mute_user_tmpl" type="application/template">
  <form action="#" class="mute-user-form">
    <label>
      <%= labels.muteMessage %>
      <input class="form-text mute-message" name="mute-message" type="textfield" />
    </label>
  </form>
</script>

<script id="opeka_unmute_user_tmpl" type="application/template">
  <form action="#" class="unmute-user-form">
    <label>
      <%= labels.unmuteMessage %>
      <input class="form-text unmute-message" name="unmute-message" type="textfield" />
    </label>
  </form>
</script>


<script id="opeka_room_edit_tmpl" type="application/template">
  <form action="#" class="room-edit-form">
    <div class="form-item">
      <label for="name"><%- labels.name %></label>
      <input class="form-text name required" name="name" type="textfield" />
    </div>

    <div class="form-item">
      <label for="max-size"><%- labels.size %></label>
      <select class="max-size" name="max-size">
        <option value="2" selected="selected">2 <%- labels.users %></option>
        <option value="5">5 <%- labels.users %></option>
        <option value="10">10 <%- labels.users %></option>
        <option value="20">20 <%- labels.users %></option>
        <option value="30">30 <%- labels.users %></option>
      </select>
    </div>

    <div class="form-item">
      <label for="ip-location"><%- labels.iPLocation %></label>
      <select class="ip-location"  name="ip-location">
        <option value="Any" selected="selected"><%- labels.any %></option>
        <option value="Denmark"><%- labels.dk %></option>
        <option value="Scandinavia"><%- labels.outDk %></option>
      </select>
    </div>

    <div class="form-item">
      <label for="private"><%- labels.privateRoom %></label>
      <input class="private" name="private" type="checkbox" value="true" />
    </div>

  </form>
</script>

<script id="opeka_room_delete_tmpl" type="application/template">
  <form action="#" class="room-delete-form">
    <label>
      <%= labels.finalMessage %>
      <input class="form-text final-message" name="final-message" type="textfield" />
    </label>
  </form>
</script>

<script id="opeka_room_own_pair_room_tmpl" type="application/template">
  <p><%= labels.explanation %></p>
  <form action="#" class="room-leave-form">
  </form>
</script>


<script id="opeka_whisper_tmpl" type="application/template">
  <form action="#" class="whisper-form">
    <label>
      <%= labels.whisper %>
      <input class="form-text whisper-message" name="whisper-message" type="textfield" />
    </label>
  </form>
</script>


<script id="opeka_backend_tmpl" type="x-jquery-tmpl">
  <div id="opeka-backend">
    <form id="opeka-chat" class="element-hidden">
      <label for="bookmark-list">Send a bookmarked link</label>
      <select id="bookmark-list"  name="bookmark-list">
        <option value="www.au.dk" selected="selected">www.au.dk</option>
        <option value="www.cyberhus.dk">www.cyberhus.dk</option>
      </select>
      <button id="opeka-send-bookmark">Send bookmark</button>

    </form>

    <div id="final-message" title="Final Chat Message from Counselor"></div>

    <div id="errors" title="Error"></div>
  </div>
</script>
