<script id="opeka_chat_sidebar_tmpl" type="application/template">
  <ul class="user-list">
  <% if (!users) { %>
    <li class="placeholder"><%= labels.placeholder %></li>
  <% } %>
  <% _.each(users, function (user) { %>
    <li data-client-id="<%= user.clientId %>">
      <span class="name"><%- user.name %></span>
      <% if (user.age || user.gender) { %>
        <span class="meta">
          (
          <span class="age"><%- user.age %></span>
          /
          <span class="gender"><%= labels.gender[user.gender] %></span>
          )
        </span>
      <% } %>
      <% if (user.clientId !== clientId) { %>
        <span class="actions">
          <button class="whisper"><%= labels.whisper %></button>
          <% if (user.muted) { %>
            <button class="unmute-user"><%= labels.unmuteUser %></button>
          <% }
             else { %>
            <button class="mute-user"><%= labels.muteUser %></button>
          <% } %>
          <button class="kick-user"><%= labels.kickUser %></button>
        </span>
      <% } %>
    </li>
  <% }); %>
  </ul>

  <button class="pause-toggle"><%= labels.pauseToggle %></button>
  <button class="clear-messages"><%= labels.clearMessages %></button>
  <button class="delete-room"><%= labels.deleteRoom %></button>
</script>


<script id="opeka_room_clear_tmpl" type="application/template">
  <p><%= labels.explanation %></p>
</script>


<script id="opeka_kick_user_tmpl" type="application/template">
  <form action="#" class="kick-user-form">
    <label>
      <%= labels.kickMessage %>
      <input class="form-text kick-message" name="name" type="textfield" />
    </label>
  </form>
</script>

<script id="opeka_mute_user_tmpl" type="application/template">
  <form action="#" class="mute-user-form">
    <label>
      <%= labels.muteMessage %>
      <input class="form-text mute-message" name="name" type="textfield" />
    </label>
  </form>
</script>

<script id="opeka_unmute_user_tmpl" type="application/template">
  <form action="#" class="unmute-user-form">
    <label>
      <%= labels.unmuteMessage %>
      <input class="form-text unmute-message" name="name" type="textfield" />
    </label>
  </form>
</script>


<script id="opeka_room_edit_tmpl" type="application/template">
  <form action="#" class="room-edit-form">
    <div class="form-item">
      <label for="name">Name</label>
      <input class="form-text name required" name="name" type="textfield" />
    </div>

    <div class="form-item">
      <label for="max-size">Size limit</label>
      <select class="max-size" name="max-size">
        <option value="2" selected="selected">2 users</option>
        <option value="5">5 users</option>
        <option value="10">10 users</option>
        <option value="20">20 users</option>
        <option value="30">30 users</option>
      </select>
    </div>

    <div class="form-item">
      <label for="ip-location">IP location</label>
      <select class="ip-location"  name="ip-location">
        <option value="Any" selected="selected">Any</option>
        <option value="Denmark">Denmark</option>
        <option value="Scandinavia">Outside Denmark/Scandinavia</option>
      </select>
    </div>

    <div class="form-item">
      <label for="private">Private room?</label>
      <input class="private" name="private" type="checkbox" value="true" />
    </div>

  </form>
</script>

<script id="opeka_room_delete_tmpl" type="application/template">
  <form action="#" class="room-delete-form">
    <label>
      <%= labels.finalMessage %>
      <input class="form-text final-message" name="name" type="textfield" />
    </label>
  </form>
</script>

<script id="opeka_whisper_tmpl" type="application/template">
  <form action="#" class="whisper-form">
    <label>
      <%= labels.whisper %>
      <input class="form-text whisper-message" name="name" type="textfield" />
    </label>
  </form>
</script>


<script id="opeka_backend_tmpl" type="x-jquery-tmpl">
  <div id="opeka-backend">
    <form id="opeka-chat" class="element-hidden">
      <label for="bookmark-list">Send a bookmarked link</label>
	  <select id="bookmark-list"  name="bookmark-list">
	        <option value="www.au.dk" selected="selected">www.au.dk</option>
	        <option value="www.cyberhus.dk">www.cyberhus.dk</option>
	   </select>
      <button id="opeka-send-bookmark">Send bookmark</button>

      <label for="opeka-mute-clientId">Mute an user</label>
      <input id="opeka-mute-clientId" placeholder="User ID" type="text" />
      <button id="opeka-mute">Mute user</button>

      <label for="opeka-unmute-clientId">Unmute an user</label>
      <input id="opeka-unmute-clientId" placeholder="User ID" type="text" />
      <button id="opeka-unmute">Unmute user</button>

      <label for="opeka-delete-message">Delete Message</label>
      <input id="opeka-delete-message" placeholder="Message ID" type="text" />
      <button id="opeka-delete">Delete Message</button>

      <label for="opeka-deleteall-messages">Delete All Messages from an User</label>
      <input id="opeka-deleteall-messages" placeholder="Client ID" type="text" />
      <button id="opeka-deleteall">Delete All Messages</button>

    </form>

	<div id="final-message" title="Final Chat Message from Counselor"></div>

	<div id="errors" title="Error"></div>


  </div>
</script>

<script id="opeka_user_list_item_tmpl" type="x-jquery-tmpl">
  {{if user.muted }}
	  <li class="user">
	    [Muted] ${user.nickname} - ${user.clientId}
	  </li>
  {{else}}
	  <li class="user">
	    ${user.nickname} - ${user.clientId}
	  </li>
  {{/if}}

</script>

