<div id="opeka-app"></div>

<script id="opeka_chat_sidebar_tmpl" type="application/template">
  <ul class="user-list">
  <% if (!users) { %>
    <li class="placeholder"><%= labels.placeholder %></li>
  <% } %>
  <% _.each(users, function (user) { %>
    <li data-client-id="<%= user.clientId %>">
      <span class="name"><%- user.name %></span>
      <% if (user.age || user.gender) { %>
        <span class="meta">
          (
          <span class="age"><%- user.age %></span>
          /
          <span class="gender"><%= labels.gender[user.gender] %></span>
          )
        </span>
      <% } %>
      <% if (user.clientId !== clientId && admin) { %>
        <span class="actions">
          <button class="whisper"><%= labels.whisper %></button>
          <% if (user.muted) { %>
            <button class="unmute-user"><%= labels.unmuteUser %></button>
          <% }
             else { %>
            <button class="mute-user"><%= labels.muteUser %></button>
          <% } %>
          <button class="kick-user"><%= labels.kickUser %></button>
        </span>
      <% } %>
    </li>
  <% }); %>
  </ul>

  <% if (admin) { %>
  <button class="pause-toggle"><%= labels.pauseToggle %></button>
  <button class="clear-messages"><%= labels.clearMessages %></button>
  <button class="delete-room"><%= labels.deleteRoom %></button>
  <% } %>
</script>

<script id="opeka_chat_footer_tmpl" type="application/template">
  <% if (banCodeGenerator) { %>
    <button class="generate-ban-code"><%- labels.banCode %></button>
  <% } %>
</script>

<script id="opeka_app_tmpl" type="application/template">
  <div class="header"></div>
  <div class="content"><%= content %></div>
  <div class="sidebar"></div>
  <div class="footer"></div>
</script>

<script id="opeka_online_status_tmpl" type="application/template">
  <%= content %>
</script>

<script id="opeka_connect_form_tmpl" type="application/template">
  <form action="#" class="connect-interface">
    <label class="form-item">
      <%= labels.nick %>
      <input autofocus="autofocus" class="form-text nickname" placeholder="<%= labels.placeholder %>" type="text" value="<%- name %>" />
    </label>

    <% if (!name) { %>

    <label class="form-item">
      <%= labels.age %>
      <input class="form-text age" type="text" />
    </label>

    <label>
      <%= labels.gender %>
      <select class="form-select gender">
        <option value="" selected="selected"></option>
        <option value="m"><%= labels.male %></option>
        <option value="f"><%= labels.female %></option>
      </select>
    </label>

    <% } %>

    <input class="connect form-submit" type="submit" value="<%= labels.action %>" />
  </form>
</script>

<script id="opeka_room_list_tmpl" type="application/template">
  <ul class="room-list">
  <% rooms.each(function (room) { %>
    <% if (!room.attributes.private && (room.attributes.maxSize !== 2 || (room.attributes.maxSize === 2 &&  hidePairRooms == false))) { %>
      <% labels.placeholder = ''; %>
      <li><a href="#rooms/<%= room.id %>"><%- room.get('name') %></a> (<%- room.get('memberCount') %> / <%- room.get('maxSize') %>)</li>
    <% } %>
  <% }); %>
  <% if (labels.placeholder) { %>
    <li class="placeholder"><%= labels.placeholder %></li>
  <% } %>
  </ul>

</script>

<script id="opeka_pair_room_list_tmpl" type="application/template">
  <ul class="room-list pair-room-list">
  <% rooms.each(function (room) { %>
    <% if (!room.attributes.private && room.attributes.maxSize === 2 && (Drupal.settings.opeka.user && Drupal.settings.opeka.user.uid == room.attributes.uid)) { %>
      <li><a href="#rooms/<%= room.id %>"><%- room.get('name') %></a> (<%- room.get('memberCount') %> / <%- room.get('maxSize') %>)</li>
    <% } %>
  <% }); %>
  </ul>

</script>

<script id="opeka_room_list_create_room_tmpl" type="application/template">
  <button class="create-room"><%= labels.createRoom %></button>
</script>

<script id="opeka_chat_tmpl" type="application/template">
  <ul class="chat-message-list">
  <% _.each(messages, function (message) { %>
    <% if (message.system) { %>
      <li class="system-message"><%- message.message %></li>
    <% } else if (message.whisper) { %>
      <li class="whisper-message" data-message-id="<%= message.messageId %>">
        <span class="timestamp"><%= formatTimestamp(message.date) %></span>
        <% if (message.receiver) { %>
          <span class="sender-name">[<%- message.sender.name %> - <%= labels.whispered %>]:</span>
        <% } else { %>
          <span class="sender-name">[<%= labels.whisperedTo %> - <%- message.sender.name %>]:</span>
        <% } %>
        <span class="message"><%- message.message %></span>
      </li>
    <% } else { %>
      <li class="chat-message" data-message-id="<%= message.messageId %>">
        <span class="timestamp"><%= formatTimestamp(message.date) %></span>
        <span class="sender-name">[<%- message.sender.name %>]:</span>
        <span class="message"><%- message.message %></span>
        <% if (admin) { %>
        <span class="actions">
          <button class="delete-message"><%= labels.deleteMessage %></button>
        </span>
        <% } %>
      </li>
    <% } %>
  <% }); %>
  </ul>
</script>

<script id="opeka_chat_form_tmpl" type="application/template">
  <% if (!room.get('paused') && !activeUser.muted && inQueue === false) { %>
  <form action="#" class="message-form">
    <input autofocus="autofocus" class="form-text message" placeholder="<%= labels.placeholder %>" size="50" type="text" />
    <input class="form-submit send" type="submit" value="<%= labels.messageButton %>" />
  </form>
  <% } else if (activeUser.muted) { %>
  <p><%= labels.userMuted %></p>
  <% } else if (inQueue === false) { %>
    <p><%= labels.roomPaused %></p>
  <% } %>
  <% if (inQueue !== false) { %>
    <p><%= labels.inQueueMessage %></p>
    <form action="#" class="leave-queue-form">
      <input class="form-submit send" type="submit" value="<%= labels.leaveQueueButton %>" />
    </form>
  <% } else { %>
    <form action="#" class="leave-room-form">
      <input class="form-submit send" type="submit" value="<%= labels.leaveRoomButton %>" />
    </form>
  <% } %>
</script>
