<script id="opeka_frontend_tmpl" type="x-jquery-tmpl">
  <div id="opeka-frontend">
    <form action="#" class="connect-interface">
      <label for="nickname">Kaldenavn</label>
      <input id="nickname" type="text" placeholder="Anonym" /><br />

      <label for="age">Age</label>
      <input id="age" type="text" placeholder="0" /><br />

      <label for="gender">Gender</label>
	  <select id="gender"  name="gender">
	        <option value="N" selected="selected">[choose gender]</option>
	        <option value="M">Male</option>
	        <option value="F">Female</option>
	   </select>

      <button class="connect">Klar til chat…</button> 
    </form>

	<div id="final-message" title="Final Chat Message from Counselor"></div>

	<div id="errors" title="Error"></div>

	<div id="warnings" title="Warning"></div>

	<div class="contents-not-chatting"></div>

    <div class="online-interface element-hidden">
      <h3>Vælg et chatrum</h3>

      <ul id="opeka-room-list">
        <li class="placeholder">Ingen rum aktive.</li>
      </ul>
    </div>

    <p id="opeka-online-status">
      Der er <span class="guests">0</span> gæster og
      <span class="councellors">0</span> rådgivere online.
    </p>
  </div>
</script>

