<script id="opeka_chat_sidebar_tmpl" type="application/template">
<div id="sidebar">
  <div class="sidebar-block">
    <h5 class="sidebar-block-heading">Room actions<span class="arrow up"></span></h5>
    <div class="sidebar-block-content room-actions">
      <button class="pause-toggle"><%= labels.pauseToggle %></button>
      <button class="clear-messages"><%= labels.clearMessages %></button>
      <button class="delete-room"><%= labels.deleteRoom %></button>
    </div>
  </div>
  <div class="sidebar-block">
    <h5 class="sidebar-block-heading">User list<span class="arrow up"></span></h5>
    <div class="sidebar-block-content">
      <ul class="user-list">
      <% if (!users) { %>
        <li class="placeholder"><%= labels.placeholder %></li>
      <% } %>
      <% _.each(users, function (user) { %>
        <li data-client-id="<%= user.clientId %>">
          <span class="name"><%- user.name %></span>
          <% if (user.age || user.gender) { %>
            <span class="meta">
              (
              <span class="age"><%- user.age %> år</span>
              |
              <span class="gender"><%= labels.gender[user.gender] %></span>
              )
            </span>
          <% } %>
          <% if (user.clientId !== clientId) { %>
            <span class="actions">
              <button class="whisper"><%= labels.whisper %></button>
              <% if (user.muted) { %>
                <button class="unmute-user"><%= labels.unmuteUser %></button>
              <% }
                 else { %>
                <button class="mute-user"><%= labels.muteUser %></button>
              <% } %>
              <button class="kick-user"><%= labels.kickUser %></button>
            </span>
          <% } %>
        </li>
      <% }); %>
      </ul>
    </div>
  </div>
  <div class="sidebar-block">
    <h5 class="sidebar-block-heading"><%= labels.registrationform %><span class="arrow up"></span></h5>
    <div class="sidebar-block-content">
      <a class="registrationform" href="https://docs.google.com/a/cyberhus.dk/spreadsheet/embeddedform?formkey=dHBub0M0LW5GbWpNWndqTGdDQjNwZEE6MQ" target="_blank"><%= labels.registrationform %></a>
    </div>
  </div>
  <!--
  <div class="sidebar-block">
    <h5 class="sidebar-block-heading">Room actions test<span class="arrow up"></span></h5>
    <div class="sidebar-block-content">
      <span class="remove-room" title="<%= labels.deleteRoom %>">X</span>
      <% if (room.get('paused')) { %>
        <span class="play-btn-wr" title="<%= labels.pauseToggle %>"><span class="play-btn"></span></span>
      <% } else { %>
        <span class="pause-btn-wr" title="<%= labels.pauseToggle %>"><span class="pause-btn"></span></span>
      <% } %>
  </div>
  -->
</div>
</script>

<script id="opeka_room_clear_tmpl" type="application/template">
  <p><%= labels.explanation %></p>
</script>


<script id="opeka_ban_user_tmpl" type="application/template">
  <form action="#" class="ban-user-form">
    <label>
      <%= labels.banMessage %>
      <input class="form-text ban-message" name="ban-message" type="textfield" />
    </label>
    <label><%= labels.banCode %></label>
      <input class="form-text ban-code" name="name" type="textfield" />
      <span class="help-text"><%= labels.banCodeDescription %></span>
  </form>
</script>

<script id="opeka_kick_user_tmpl" type="application/template">
  <form action="#" class="kick-user-form">
    <label><%= labels.kickMessage %></label>
      <input class="form-text kick-message" name="kick-message" type="textfield" />
    <span class="help-text"><%= labels.kickHelpText %></span>
  </form>
</script>
<!--
<script id="opeka_mute_user_tmpl" type="application/template">
  <form action="#" class="mute-user-form">
    <label>
      <%= labels.muteMessage %>
      <input class="form-text mute-message" name="mute-message" type="textfield" />
    </label>
  </form>
</script>
-->
<script id="opeka_unmute_user_tmpl" type="application/template">
  <form action="#" class="unmute-user-form">
    <label>
      <%= labels.unmuteMessage %>
      <input class="form-text unmute-message" name="unmute-message" type="textfield" />
    </label>
  </form>
</script>


<script id="opeka_room_edit_tmpl" type="application/template">
  <form action="#" class="room-edit-form">
    <!--<p>To create a simple 1 to 1 chat, please click the green button below.</p>
      <button class="ui-button ui-button-text-only"><span class="ui-button-text">Create a 1 to 1 chat room</span></button>-->
    <div class="create-groupchat-room">
    <div class="groupchat-room-settings">
      <div class="form-item">
        <label for="name"><%- labels.name %></label>
        <input class="form-text name required" name="name" type="textfield" placeholder="Chatrum" />
        <span class="help-text"><%- labels.chatroomhelp %></span>
      </div>

      <div class="form-item">
        <label for="max-size"><%- labels.size %></label>
        <select class="max-size" name="max-size">
          <option value="2" selected="selected">2 <%- labels.users %></option>
          <option value="5">5 <%- labels.users %></option>
          <option value="6">6 <%- labels.users %></option>
          <option value="7">7 <%- labels.users %></option>
          <option value="8">8 <%- labels.users %></option>
          <option value="9">9 <%- labels.users %></option>
          <option value="10">10 <%- labels.users %></option>
          <option value="15">15 <%- labels.users %></option>
        </select>

      <div class="form-item">
        <label for="ip-location"><%- labels.iPLocation %></label>
        <select class="ip-location"  name="ip-location">
          <option value="Any" selected="selected"><%- labels.any %></option>
          <option value="Denmark"><%- labels.dk %></option>
          <option value="Scandinavia"><%- labels.outDk %></option>
        </select>
      </div>

      <div class="form-item">
        <label for="queue-system"><%- labels.queueSystem %></label>
        <select class="queue-system"  name="queue-system">
          <option value="private" selected="selected"><%- labels.privateQueue %></option>
          <% queues.each(function (queue) { %>
            <option value="<%- queue.id %>"><%- queue.get('name') %></option>
          <% }); %>
        </select>
      </div>

      <div class="form-item private-room">
        <input class="private" name="private" id="private" type="checkbox" value="true" />
        <label for="private-room"><%= labels.training %></label>
      </div>
    </div>
  </form>
</script>

<script id="opeka_queue_edit_tmpl" type="application/template">
  <form action="#" class="room-edit-form">
    <div class="form-item">
      <label for="name"><%- labels.name %></label>
      <input class="form-text name required" name="name" type="textfield" />
    </div>

  </form>
</script>


<script id="opeka_room_delete_tmpl" type="application/template">
  <form action="#" class="room-delete-form">
    <label>
      <%= labels.finalMessage %>
      <input class="form-text final-message" name="final-message" type="textfield" />
    </label>
  </form>
</script>

<script id="opeka_room_own_pair_room_tmpl" type="application/template">
  <p><%= labels.explanation %></p>
  <form action="#" class="room-leave-form">
  </form>
</script>

<script id="opeka_whisper_tmpl" type="application/template">
  <form action="#" class="whisper-form">
    <label><%= labels.whisperMessage %></label>
      <!--<input class="form-text whisper-message" name="name" type="textfield" />-->
      <textarea class="form-text whisper-message" name="name" rows=3 cols=32></textarea>
    <span class="help-text"><%= labels.whisperHelpText %></span>
  </form>
</script>

<script id="opeka_backend_tmpl" type="x-jquery-tmpl">
  <div id="opeka-backend">
    <form id="opeka-chat" class="element-hidden">
      <label for="bookmark-list">Send a bookmarked link</label>
      <select id="bookmark-list"  name="bookmark-list">
        <option value="www.au.dk" selected="selected">www.au.dk</option>
        <option value="www.cyberhus.dk">www.cyberhus.dk</option>
      </select>
      <button id="opeka-send-bookmark">Send bookmark</button>

    </form>

    <div id="final-message" title="Final Chat Message from Counselor"></div>

    <div id="errors" title="Error"></div>
  </div>
</script>
