<div id="opeka-app"></div>
<audio id="audiotag1" src="../sites/all/modules/custom/opeka/media/keykrusher_bicycle-bell-2.wav" preload="auto"></audio>


<script id="opeka_chat_sidebar_tmpl" type="application/template">
  <div id="user-list-block" class="room-size-<%- room.get('maxSize') %>">
    <h5 class="sidebar-block-heading">User list<span class="arrow up"></span></h5>
    <div class="sidebar-block-content">
      <ul class="user-list">
      <% if (!users) { %>
        <li class="placeholder"><%= labels.placeholder %></li>
      <% } %>
      <% _.each(users, function (user) { %>
        <li data-client-id="<%= user.clientId %>">
          <span class="name"><%- user.name %></span>
          <% if (user.age || user.gender) { %>
            <span class="meta">
              (
              <span class="age"><%- user.age %></span>
              /
              <span class="gender"><%= labels.gender[user.gender] %></span>
              )
            </span>
          <% } %>
          <% if (user.clientId !== clientId && admin) { %>
            <span class="actions">
              <button class="ban-user"><%= labels.banUser %></button>
              <button class="kick-user"><%= labels.kickUser %></button>
              <% if (user.muted) { %>
                <button class="unmute-user"><%= labels.unmuteUser %></button>
              <% }
                 else { %>
                <button class="mute-user"><%= labels.muteUser %></button>
              <% } %>
              <button class="whisper"><%= labels.whisper %></button>
            </span>
          <% } %>
        </li>
      <% }); %>
      </ul>
    </div>
  </div>
  <% if (admin) { %>
    <div class="sidebar-block">
      <h5 class="sidebar-block-heading">Room actions<span class="arrow down"></span></h5>
      <div class="sidebar-block-content room-actions"  style="display: none;">
        <button class="pause-toggle"><%= labels.pauseToggle %></button>
        <button class="clear-messages"><%= labels.clearMessages %></button>
        <button class="delete-room"><%= labels.deleteRoom %></button>
      </div>
    </div>
    <div class="sidebar-block">
      <h5 class="sidebar-block-heading"><%= labels.registrationform %><span class="arrow down"></span></h5>
      <div class="sidebar-block-content" style="display: none;">
        <a class="registrationform" href="https://docs.google.com/a/cyberhus.dk/spreadsheet/embeddedform?formkey=dHBub0M0LW5GbWpNWndqTGdDQjNwZEE6MQ" target="_blank"><%= labels.registrationform %></a>
      </div>
    </div>
  <% } %>
</script>

<script id="opeka_chat_footer_tmpl" type="application/template">
  <% if (banCodeGenerator) { %>
    <button class="generate-ban-code btn-util"><%- labels.banCode %></button>
  <% } %>
</script>

<script id="opeka_app_tmpl" type="application/template">
  <div class="header"></div>
  <div class="content"><%= content %></div>
  <div class="sidebar"></div>
  <div class="footer"></div>
</script>

<script id="opeka_online_status_tmpl" type="application/template">
  <%= content %>
</script>

<script id="opeka_connect_form_tmpl" type="application/template">
 <p class="welcome-notice"><%- labels.welcome_notice %></p>
 <form action="#" class="connect-interface">
    <p class="welcome-message"><%= labels.welcome_message %></p>
    <fieldset>
      <label class="form-item nickname-label">
        <%= labels.nick %>
      </label>
      <input class="form-text nickname" placeholder="<%= labels.placeholder %>" type="text" value="<%- name %>" maxlength="25" />
      <% if (name != 'Rådgiver') { %>
      <!--<span class="label-tooltip"><%= labels.nick_tooltip %></span>-->
      <% } %>
      <% if (!name) { %>

      <label class="form-item age-label">
        <%= labels.age %>
      </label>
      <input class="form-text age" type="text" maxlength="2" />
      
      <label class="form-item gender-label">
        <%= labels.gender %>
      </label>
        <select class="form-select gender">
        <option value="" selected="selected"></option>
        <option value="m"><%= labels.male %></option>
        <option value="f"><%= labels.female %></option>
      </select>
      

      <% } %>

      <input class="connect form-submit btn" type="submit" value="<%= labels.action %>" />
      <span class="cyberhus-logo"></span>
    </fieldset>
  </form>
</script>

<script id="opeka_room_list_tmpl" type="application/template">
  <% if (admin) { %>
    <div class="queue-utils">
    <a href="#queues" class="go-to-queues btn-util"><%= labels.queueLink %></a>
    <button class="create-room btn btn-small"><%= labels.createRoom %></button>
    </div>
  <% } %>
  <ul class="room-list">
  <% rooms.each(function (room) { %>
    <% if (!room.attributes.private && (room.attributes.maxSize !== 2 || (room.attributes.maxSize === 2 &&  hidePairRooms == false))) { %>
      <% labels.placeholder = ''; %>
      <li class="room">
      <div class="room-details <% if (room.get('memberCount') == room.get('maxSize')){%>full<%} %><% if (room.attributes.paused){%> paused<%} %>">
          <span class="room-size"><%- room.get('memberCount') %>/<%- room.get('maxSize') %></span>
          <% if (room.get('memberCount') == room.get('maxSize')){%>
            <span class="room-status">FULL</span>
          <%} %>
          <% if (room.attributes.paused){%>
            <span class="room-status">PAUSED</span>
          <%} %>
        </div>
      <p class="room-description"><%- room.get('name') %></p><% if ((room.get('memberCount') != room.get('maxSize')) && (!room.attributes.paused)){%>
        <a href="#rooms/<%= room.id %>" class="room-enter"><%= labels.enterRoom %></a>
      <%}else{ %>
        <a href="<%= labels.fullRoomLink %>" target="_blank" class="meantime"><%= labels.fullRoomLinkText %></a>
      <%}%>  
      </li>
    <% } %>
  <% }); %>
  <% if (labels.placeholder && !admin) { %>
    <li class="placeholder norooms"><%= labels.placeholder %></li>
  <% } %>
  </ul>

</script>

<script id="opeka_pair_room_list_tmpl" type="application/template">
  <ul class="room-list pair-room-list">
  <% rooms.each(function (room) { %>
    <% if (!room.attributes.private && room.attributes.maxSize === 2 && (Drupal.settings.opeka.user && Drupal.settings.opeka.user.uid == room.attributes.uid)) { %>
      <li class="room">
        <div class="room-details">
          <span class="room-size"><%- room.get('memberCount') %>/<%- room.get('maxSize') %></span>
        </div>
        <p class="room-description"><%- room.get('name') %></p>
        <a href="#rooms/<%= room.id %>" class="room-enter"><%= labels.enterRoom %></a>
      </li>
    <% } %>
  <% }); %>
  </ul>

</script>

<script id="opeka_queue_list_tmpl" type="application/template">
  <div>
  <a href="#rooms" class="go-back-to-rooms btn-util"><%= labels.roomLink %></a>
  <button class="create-queue btn btn-small"><%= labels.createQueue %></button>
  </div>
  <ul class="queue-list">
  <% queues.each(function (queue) { %>
      <% labels.placeholder = ''; %>
      <li class="queue"><%- queue.get('name') %></li>
  <% }); %>
  <% if (labels.placeholder) { %>
    <li class="placeholder noqueues"><%= labels.placeholder %></li>
  <% } %>
  </ul>

</script>



<script id="opeka_queue_page_tmpl" type="application/template">
  <p><%= labels.placeholder %></p>

  <form action="#" class="leave-queue-form">
    <input class="form-submit leave-queue" type="submit" value="<%= labels.leaveQueue %>" />
  </form>

</script>



<script id="opeka_room_list_create_room_tmpl" type="application/template">
  <!--<button class="create-room btn btn-small"><%= labels.createRoom %></button>-->
</script>

<script id="opeka_chat_tmpl" type="application/template">
<div class="chat-message-list-wrapper">
  <ul class="chat-message-list">
  <% _.each(messages, function (message) { %>
    <% if (message.system) { %>
      <li class="system-message"><span>system:</span><%- message.message %></li>
    <% } else if (message.whisper) { %>
      <li class="whisper-message" data-message-id="<%= message.messageId %>">
        <% if (message.receiver) { %>
          <span class="sender-name"><%- message.sender.name %> - <%= labels.whispered %></span>
        <% } else { %>
          <span class="sender-name"><%= labels.whisperedTo %> - <%- message.sender.name %></span>
        <% } %>
        <span class="message"><%- message.message %></span>
        <span class="timestamp"><%= formatTimestamp(message.date) %></span>
      </li>
    <% } else { %>
      <li class="chat-message <% if(message.sender.isCouncellor) { %>counselor<% }else{%>user<% } %>" data-message-id="<%= message.messageId %>">
        <span class="sender-name"><%- message.sender.name %></span>
        <span class="message"><%- message.message %></span>
        <span class="timestamp"><%= formatTimestamp(message.date) %></span>
        <% if (admin) { %>
        <span class="actions">
          <button class="delete-message"><%= labels.deleteMessage %></button>
        </span>
        <% } %>
      </li>
    <% } %>
  <% }); %>
  </ul>
  </div>
</script>

<script id="opeka_chat_form_tmpl" type="application/template">
  <% if (!room.get('paused') && !activeUser.muted && inQueue === false) { %>
  <form action="#" class="message-form">
    <!--<input autofocus="autofocus" class="form-text message" placeholder="<%= labels.placeholder %>" size="50" type="text" />-->
    <div class="form-text-container">
      <textarea autofocus="autofocus" class="form-text message" placeholder="<%= labels.placeholder %>" ></textarea>
    </div>
    <input class="form-submit send" type="submit" value="<%= labels.messageButton %>" />
  </form>
  <% } else if (activeUser.muted) { %>
    <div class="userMuted">
      <p><%= labels.userMuted %></p>
      <span class="help-text"><%= labels.mutehelptext %></span>
    </div>
  <% } else if (inQueue === false) { %>
    <div class="roomPaused">
      <p><%= labels.roomPaused %></p>
      <span class="help-text"><%= labels.roomPausedHelpText %></span>
    </div>
  <% } %>
  <% if (inQueue !== false) { %>
    <p><%= labels.inQueueMessage %></p>
    <form action="#" class="leave-queue-form">
      <input class="form-submit send" type="submit" value="<%= labels.leaveQueueButton %>" />
    </form>
  <% } else { %>
    <form action="#" class="leave-room-form">
      <input class="form-submit send" type="submit" value="<%= labels.leaveRoomButton %>" />
    </form>
  <% } %>
</script>

<script id="opeka_user_feedback_tmpl" type="application/template">

  <% if(admin) { %>
    <p>Tak!</p>
  <% }else{ %>
    <!--<iframe height="2800" frameborder="0" width="618" onLoad="window.scrollTo(0,0);" src="https://docs.google.com/a/cyberhus.dk/spreadsheet/embeddedform?formkey=dFBPMklBOU5RZEFuVktUVTlRNmNtYnc6MQ" marginwidth="0" marginheight="0">Indlæser ...</iframe>--><p>Tak fordi du brugte Cyberhus-chatten.</p>
  <% } %>

</script>
