{#
/**
 * @file
 * Default theme implementation to print the Opeka header widget.
 *
 * Available variables:
 *   - opening_hours_simple
 *
 * @see template_preprocess_opeka_header_widget()
 *
 * @ingroup themeable
 */
#}

<div class="status-wrapper">
    <div class="status-tab">1-til-1 chat er lukket</div>
  <div id="output"></div>
  <div class="status-content">
    <p>{{ opening_hours_simple }}</p>
  </div>
  <div class="login-button">
    <a id="join-chat" class="btn chat" href="#">Chatten er lukket lige nu</a>
    <div class="button-subtext">
      Alle chats er for unge i alderen 9-23 år.    </div>
  </div>
</div>