{#
/**
 * @file
 * Default theme implementation to print the Opeka header widget.
 *
 * Available variables:
 *   - opening_hours_simple
 *   - connect
 *   - subtext
 *
 * @see template_preprocess_opeka_header_widget()
 *
 * @ingroup themeable
 */
#}

<div class="status-wrapper">
    <div class="status-tab">{{ connect }}</div>
  <div id="output"></div>
  <div class="status-content">
    <p>{{ opening_hours_simple }}</p>
  </div>
  <div class="login-button">
    <a id="join-chat" class="btn chat" href="#">{{ connect }}</a>
    <div class="button-subtext">{{ subtext }}</div>
  </div>
</div>