@charset "UTF-8";
/* Styling for the foldout widget
 * This file is included via embedded javascript client side (popupController.js)
 */
/*
* — Variables —
*/
/* Responsive media query breakpoints */
/* Palette for client chat messages */
/* Bootstrap overrides */
/* Typography */
/* Cyberhus Clean theme (used in widgets) */
/* Base colors*/
/* Text Colors */
/* Curachat additions */
/*
* — Mixins —
*/
/* Trying to properly target case when soft keyboard pops up */
.opeka-chat-foldout-wrapper {
  top: 15%;
  position: fixed;
  right: -260px;
  z-index: 10;
}

.opeka-chat-foldout-wrapper.demo-group-chat {
  top: 45%;
}
