#opeka-app .header,
#opeka-app .footer {
  clear: both;
}

#opeka-app .content,
#opeka-app .sidebar {
  float: left;
}

/*
.opeka-chat-sidebar {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1em;
}
*/
#opeka-app .content {
  width: 66%;
}

#opeka-app .sidebar {
  width: 33%;
}
