/* Drupal administration pages */
body.page-admin .form-type-textarea,
body.page-admin .form-type-textfield,
body.page-admin .form-type-select {
  max-width: 500px;
}
body.page-admin .form-submit {
  margin-top: 1em;
}

body.page-admin-config-services-opeka-screening #fieldset-opeka-screening-options .form-item {
  max-width: 300px;
  margin-bottom: .5em;
}
body.page-admin-config-services-opeka-screening .btn.btn-info {
  margin-bottom: 1em;
}

body.page-admin-config-services-opeka-opening-hours #fieldset-opeka-opening-hours-datetimes {
  margin-bottom: 1em;
}
body.page-admin-config-services-opeka-opening-hours #fieldset-opeka-opening-hours-datetimes .form-item {
  float: left;
}
body.page-admin-config-services-opeka-opening-hours #fieldset-opeka-opening-hours-datetimes .form-type-select {
  clear: left;
}
body.page-admin-config-services-opeka-opening-hours #fieldset-opeka-opening-hours-datetimes button.form-submit {
  clear: left;
  float: left;
}
