/* Mixin */
/* Variables */
/* $green: #72d477; */
/* Typography */
.not-logged-in {
  /* The sidebar is always visible in a group chat for anonymous clients*/ }
  .not-logged-in.groupchat #opeka-app .content.client-sidebar-0 {
    width: 66%; }
  .not-logged-in #opeka-app {
    /* Anonymous clients can have the sidebar disabled */ }
    .not-logged-in #opeka-app .content.client-sidebar-0 {
      width: 100%; }
    .not-logged-in #opeka-app .content.client-sidebar-1 {
      width: 66%; }
  .not-logged-in .groupchat .footer,
  .not-logged-in .room-size-2 .footer {
    display: none; }

/* All users */
#opeka-app .header,
#opeka-app .footer {
  clear: both; }

#opeka-app .content,
#opeka-app .sidebar {
  float: left; }

#opeka-app .content {
  width: 66%; }

#opeka-app .sidebar {
  width: 33%; }

#opeka-app .emoticon {
  margin-bottom: -6px; }

#opeka-app .message {
  white-space: pre-wrap;  }

#opeka-app .return-writers-msg,
#opeka-app .return-sends-msg {
  margin: 0 2px 0 10px;  }

#opeka-app label[for="return-writers-msg"],
#opeka-app label[for="return-sends-msg"] {
  display: inline-block; }

#opeka-app .chat-message-list-wrapper {
  position: relative;
}

#opeka-app .writers-message.label {
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  left: 0;
}

#opeka-app .dropdown-menu li {
  cursor: pointer; }
  #opeka-app .dropdown-menu li:hover {
    background-color: #e6e6e6; }
