/* Styling for the popup widget
 * This file is included via embedded javascript client side (popupController.js)
 */
/* $green: #72d477; */
/* line 7, ../sass/opeka.widget.popup.scss */
.opeka-chat-popup-wrapper {
  position: absolute;
  height: 220px;
  bottom: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

/* line 16, ../sass/opeka.widget.popup.scss */
#opeka-chat-iframe {
  background-color: #fff;
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 24, ../sass/opeka.widget.popup.scss */
button.close {
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
}
