/* Styling for the inline widget */
/* $green: #72d477; */
/* Typography */
/* inline widget */
/* line 8, ../sass/widget.inline.scss */
body.page-opeka-widgets-inline {
  background: none transparent;
}
/* line 10, ../sass/widget.inline.scss */
body.page-opeka-widgets-inline .login-button {
  text-align: center;
}
/* line 12, ../sass/widget.inline.scss */
body.page-opeka-widgets-inline .login-button .btn {
  background-color: #BFBFBF;
  display: inline-block;
  height: 100%;
  line-height: 24px;
  padding: .7em 0;
  width: 100%;
  max-width: 300px;
}
/* line 22, ../sass/widget.inline.scss */
body.page-opeka-widgets-inline.chat-closed .login-button .btn {
  background-color: #BFBFBF;
  cursor: default;
}
/* line 26, ../sass/widget.inline.scss */
body.page-opeka-widgets-inline.chat-busy .login-button .btn {
  background-color: #bf6516;
  cursor: default;
}
/* line 30, ../sass/widget.inline.scss */
body.page-opeka-widgets-inline.chat-open .login-button .btn {
  background-color: #27ae61;
}
/* line 32, ../sass/widget.inline.scss */
body.page-opeka-widgets-inline.chat-open .login-button .btn:hover {
  background-color: #1e844a;
}

@media (max-width: 180px) {
  /* line 41, ../sass/widget.inline.scss */
  body.page-opeka-widgets-inline .login-button .btn {
    padding: .4em 0;
  }
  /* line 45, ../sass/widget.inline.scss */
  body.page-opeka-widgets-inline.chat-open .login-button .btn {
    background-color: #1e844a;
  }
  /* line 47, ../sass/widget.inline.scss */
  body.page-opeka-widgets-inline.chat-open .login-button .btn:hover {
    background-color: #145b33;
  }
}
