/* Styling for the popup widget
 *
 */
/* Mixin */
/* Variables */
/* Typography */
/* Cyberhus Clean theme */
/* Base colors*/
/* Text Colors */
/* Curachat additions */
/* Breakpoints */
/* line 8, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup {
  /* Related to popup */
}
/* line 9, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .status-wrapper {
  color: #ffffff;
  margin: 0 auto;
  max-width: 1180px;
  padding: .6em 1em;
}
@media (min-width: 768px) {
  /* line 9, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .status-wrapper {
    padding: 1em 0;
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  /* line 9, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .status-wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 9, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .status-wrapper {
    max-width: 1180px;
  }
}
@media (max-height: 50px) {
  /* line 9, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .status-wrapper {
    padding-top: .2em;
    padding-bottom: .6em;
  }
}
@media (max-height: 50px) and (min-width: 768px) {
  /* line 9, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .status-wrapper {
    padding-top: .4em;
  }
}
/* line 33, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup.chat-busy {
  background-color: #F5D9AD;
}
/* line 35, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup.chat-busy .status-wrapper {
  background-color: #F5D9AD;
}
/* line 39, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup.chat-busy .chat-name {
  color: #1b1d1f;
}
/* line 42, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup.chat-busy .login-button .btn {
  background-color: #EBB560;
  color: #ffffff;
}
/* line 48, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .chat-name {
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  height: 100%;
  width: 100px;
  padding: .7em 1em 0 0;
  vertical-align: top;
}
@media (min-width: 768px) {
  /* line 48, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .chat-name {
    font-size: 1.4em;
    width: 200px;
    padding: .7em 1em 0 0;
  }
}
@media (min-width: 1200px) {
  /* line 48, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .chat-name {
    width: 250px;
  }
}
@media (max-height: 50px) {
  /* line 48, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .chat-name {
    padding-top: 0;
  }
}
@media (max-height: 50px) and (min-width: 768px) {
  /* line 48, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .chat-name {
    padding-top: 0.2em;
  }
}
/* line 71, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .status-content {
  display: inline-block;
  height: 20px;
  padding: .7em 0 0 1em;
  max-width: 50%;
}
/* line 76, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .status-content, body.page-opeka-widgets-popup .status-content p {
  color: #1b1d1f;
  margin: 0;
}
/* line 80, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .status-content ul, body.page-opeka-widgets-popup .status-content li, body.page-opeka-widgets-popup .status-content p {
  display: inline;
}
/* line 83, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .status-content a {
  color: #1b1d1f;
  font-weight: 700;
}
@media (max-height: 50px) {
  /* line 71, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .status-content {
    padding-top: 0.2em;
  }
}
@media (max-width: 1023px) {
  /* line 71, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .status-content {
    display: none;
  }
}
/* line 95, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .login-button {
  border-left: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 100%;
  padding-left: .5em;
  position: relative;
  bottom: auto;
  right: auto;
  vertical-align: top;
}
@media (min-width: 768px) {
  /* line 95, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .login-button {
    padding-left: 2em;
  }
}
/* line 111, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .login-button .btn {
  background-color: #3C5E22;
  background-image: none;
  font-size: 12px;
  padding: 0.65em 1.2em;
  border-radius: 2em;
  width: 120px;
}
@media (min-width: 768px) {
  /* line 111, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .login-button .btn {
    font-size: 14px;
    padding: 0.85em 1em;
    width: 200px;
  }
}
@media (max-height: 50px) {
  /* line 111, ../sass/widget.popup.scss */
  body.page-opeka-widgets-popup .login-button .btn {
    font-size: 10px;
    padding: .7em 1em;
  }
}
/* line 133, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup .button-wrapper {
  height: 100%;
  float: right;
}
/* line 137, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup a.close {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/close-white.png);
  background-image: url(../img/close-white.svg), none;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  opacity: 1;
  text-indent: -9999px;
}
/* line 152, ../sass/widget.popup.scss */
body.page-opeka-widgets-popup.chat-open a.close {
  background: url(../img/close-black.png);
  background-image: url(../img/close-black.svg), none;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
