@charset "UTF-8";
/* Styling for the popup widget
 *
 */
/*
* — Variables —
*/
/* Responsive media query breakpoints */
/* Palette for client chat messages */
/* Bootstrap overrides */
/* Typography */
/* Cyberhus Clean theme (used in widgets) */
/* Base colors*/
/* Text Colors */
/* Curachat additions */
/*
* — Mixins —
*/
/* Trying to properly target case when soft keyboard pops up */
body.page-opeka-widgets-popup {
  background-color: transparent;
}
body.page-opeka-widgets-popup .status-wrapper {
  background-color: transparent;
  color: #ffffff;
  display: inline-block;
  max-width: 1180px;
  padding: 0;
}
@media (min-width: 768px) {
  body.page-opeka-widgets-popup .status-wrapper {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  body.page-opeka-widgets-popup .status-wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body.page-opeka-widgets-popup .status-wrapper {
    max-width: 1180px;
  }
}
body.page-opeka-widgets-popup.chat-open .status-wrapper {
  background-color: transparent;
}
body.page-opeka-widgets-popup.chat-open .login-button .btn {
  background-color: #80B45A;
}
body.page-opeka-widgets-popup.chat-busy .status-wrapper {
  background-color: transparent;
}
body.page-opeka-widgets-popup.chat-busy .chat-name {
  color: #1b1d1f;
}
body.page-opeka-widgets-popup.chat-busy .login-button .btn {
  background-color: #EBB560;
  color: #ffffff;
}
body.page-opeka-widgets-popup.chat-closed .status-wrapper {
  background-color: transparent;
}
body.page-opeka-widgets-popup.chat-closed .name-tab {
  background-color: transparent;
}
body.page-opeka-widgets-popup.chat-closed .login-button .btn {
  background-color: #fff;
}
body.page-opeka-widgets-popup .chat-name {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-right: 1em;
  vertical-align: top;
}
@media (min-width: 768px) {
  body.page-opeka-widgets-popup .chat-name {
    font-size: 16px;
  }
}
body.page-opeka-widgets-popup .status-content {
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
}
body.page-opeka-widgets-popup .status-content, body.page-opeka-widgets-popup .status-content p {
  color: #1b1d1f;
  margin: 0;
}
body.page-opeka-widgets-popup .status-content ul, body.page-opeka-widgets-popup .status-content li, body.page-opeka-widgets-popup .status-content p {
  display: inline;
}
body.page-opeka-widgets-popup .status-content a {
  color: #1b1d1f;
  font-size: 12px;
}
@media (max-height: 26px) {
  body.page-opeka-widgets-popup .status-content {
    line-height: 1.5;
  }
}
body.page-opeka-widgets-popup .login-button {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  /* Avoid text overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body.page-opeka-widgets-popup .login-button .btn {
  background-color: #fff;
  background-image: none;
  font-weight: 700;
  line-height: 1.7;
  padding: .2em;
  border-radius: 0;
  border: 1px solid #ccc;
  height: 100%;
}
@media (min-width: 768px) {
  body.page-opeka-widgets-popup .login-button .btn {
    font-size: 14px;
    padding: 0.85em 1em;
  }
}
@media (min-height: 30px) {
  body.page-opeka-widgets-popup .login-button .btn {
    font-size: 12px;
    line-height: 2;
  }
}
body.page-opeka-widgets-popup .button-wrapper {
  height: 100%;
  float: right;
}
body.page-opeka-widgets-popup a.close {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/close-white.png);
  background-image: url(../img/close-white.svg), none;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  opacity: 1;
  text-indent: -9999px;
}
body.page-opeka-widgets-popup.chat-open a.close {
  background: url(../img/close-black.png);
  background-image: url(../img/close-black.svg), none;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
