@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800");
/*
* — Variables —
*/
/* Responsive media query breakpoints */
/* Palette for client chat messages */
/* Bootstrap overrides */
/* Typography */
/* Cyberhus Clean theme (used in widgets) */
/* Base colors*/
/* Text Colors */
/* Curachat additions */
/*
* — Mixins —
*/
/* Trying to target case when soft keyboard pops up */
html,
body {
  background: none transparent;
  background-image: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 1.3;
  overflow: hidden;
  padding: 0px;
  margin: 0;
}
html p,
body p {
  color: #fff;
  margin: 0 0 5px 0;
}
html body.admin-menu.page-opeka-widgets,
body body.admin-menu.page-opeka-widgets {
  margin-top: 0px !important;
}
html body.admin-menu.page-opeka-widgets #admin-menu,
body body.admin-menu.page-opeka-widgets #admin-menu {
  display: none;
}

body.chat-open,
body.chat-busy {
  background-image: none;
}

body.chat-open,
body.chat-open .status-wrapper,
body.chat-open .name-tab {
  background-color: #80B45A;
}
body.chat-open .login-button .btn {
  background-color: #3C5E22;
  color: white;
}

body.chat-busy,
body.chat-busy .status-wrapper,
body.chat-busy .name-tab {
  background-color: #e19214;
}

.name-tab {
  background-color: #BFBFBF;
}

.status-tab {
  color: #fff;
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 1em;
  width: 100%;
}

.status-wrapper {
  background-color: #BFBFBF;
  font-size: 1em;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
}

.chat-closed .status-wrapper,
.chat-closed .name-tab {
  background-color: #c7c7c7;
}

.status-content {
  margin: 0;
}
.status-content a {
  color: white;
  text-decoration: underline;
}

.status-content,
.status-content ul {
  margin: 0;
  padding: 0;
}
.status-content li,
.status-content ul li {
  list-style: none;
}
.status-content ul,
.status-content .opening-hours {
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
}
.read-more a {
  text-decoration: underline;
}
.read-more a:hover {
  text-decoration: underline;
}

.login-button .btn {
  display: inline-block;
  background-color: white;
  padding: 0.85em 1.5em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  font-size: 12px;
  opacity: 1;
  line-height: 1;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
