/* Styling for the inline widget */
/* Mixin */
/* Variables */
/* $green: #72d477; */
/* Typography */
/* inline widget */
body.page-opeka-widgets-inline {
  background: none transparent; }
  body.page-opeka-widgets-inline .status-content {
    display: inline-block;
    margin: 0; }
    body.page-opeka-widgets-inline .status-content p, body.page-opeka-widgets-inline .status-content ul {
      color: #231e19; }
    body.page-opeka-widgets-inline .status-content li {
      display: inline; }
      body.page-opeka-widgets-inline .status-content li:after {
        content: ","; }
      body.page-opeka-widgets-inline .status-content li.last:after {
        content: none; }
  body.page-opeka-widgets-inline .login-button {
    display: block;
    text-align: center; }
    body.page-opeka-widgets-inline .login-button .btn {
      background-color: #BFBFBF;
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      line-height: 24px;
      padding: .7em;
      width: 100%;
      max-width: 24em; }
  body.page-opeka-widgets-inline.chat-closed .login-button .btn {
    background-color: #BFBFBF;
    cursor: default; }
  body.page-opeka-widgets-inline.chat-busy .login-button .btn {
    background-color: #bf6516;
    cursor: default; }
  body.page-opeka-widgets-inline.chat-open .login-button .btn {
    background-color: #27ae61; }
    body.page-opeka-widgets-inline.chat-open .login-button .btn:hover {
      background-color: #1e844a; }

@media (max-width: 11.25em) {
  body.page-opeka-widgets-inline .status-content {
    display: none; }
  body.page-opeka-widgets-inline .login-button .btn {
    padding: .4em 0; }
  body.page-opeka-widgets-inline.chat-open .login-button .btn {
    background-color: #1e844a; }
    body.page-opeka-widgets-inline.chat-open .login-button .btn:hover {
      background-color: #145b33; } }

@media (min-width: 30em) {
  body.page-opeka-widgets-inline .status-content {
    width: 67%; }
  body.page-opeka-widgets-inline .login-button {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block; } }
