{
  "database": {
    "host": "localhost",
    "port": 3306,
    "user": "doejohn",
    "password": "asdfsecret",
    "database": "john_doe"
  },
  "features" : {
    "hidePairRoomsOnRoomList": false,
    "queueSystem" : true,
    "queueFullUrl" : "http://example.com"
  },
  "http": {
    "port": 3000
  },
  "queues": ["Test queue 1", "Test queue 2"],
  "https": {
    "enabled": false,
    "key": "certs/server-key.pem",
    "cert": "certs/server-cert.pem"
  }
}
