{
  "chatPage" : "http://example.com",
  "database": {
    "host": "localhost",
    "port": 3306,
    "user": "doejohn",
    "password": "asdfsecret",
    "database": "john_doe"
  },
  "logging": {
    "level": "debug",
    "file": "../logs/chatlog"
  },
  "features" : {
    "hidePairRoomsOnRoomList": false,
    "automaticPausePairRooms": true,
    "queueSystem" : true,
    "queueFullUrl" : "http://example.com",
    "fullRoomLink" : "http://example.com",
    "accessCodeEnabled" : false,
    "exposeDrupalUIDs": false,
    "requireDrupalLogin": false,
    "screeningQuestions": false

  },
  "queues": [{"id": "queue1", "name": "Test queue 1"}, {"id": "queue2", "name": "Test queue 2"}],
  "server": {
    "port": 3000,
    "https": {
      "enabled": false,
      "cert": "certs/server-cert.pem",
      "key": "certs/server-key.pem"
    },
    "user": "www-data",
    "group": "www-data"
  }
}
