#fieldset-opeka-opening-hours-datetimes fieldset {
  min-width: 0;
}
#fieldset-opeka-opening-hours-datetimes fieldset .control-group .form-type-textfield {
  display: inline-block;
  margin-right: 2ex;
}
#fieldset-opeka-opening-hours-datetimes fieldset .control-group .form-type-textfield input {
  width: 100%;
}
#fieldset-opeka-opening-hours-datetimes fieldset .control-group .form-submit {
  display: inline-block;
  margin-top: 10px;
  width: 13ex;
}
