/*
* — Variables —
*/

/* Responsive media query breakpoints */
$mob: 180px; //11.250em; //
$micro-height: 230px; // 20em; //
$tiny-height: 320px;
$mini-height: 480px;
$small-width: 230px; // 20em; //
$small-height: 560px; // 35em; //
$small-smart-width: 352px; // 22em; //
$small-smart-height: 640px; // 40em; //
$smart-width: 480px; //  30em; //
$tablet-width: 586px; // 36.625em; //
$tablet-height: 1024px; // 64em; // 
$narrow-width: 768px; // 48em; //
$narrow-height: 500px;
$small-desktop-width: 1024px; // 64em; // 
$small-desktop-height: 768px;
$desktop-width: 1200px; //  70em; //
$desktop-height: 800px; 

$onepx: 0.063em;


$ccBlack: rgb(35, 30, 25);
$ccGreen: #27ae61;
$ccOrange: #e67e22;
$ccRed: #ED2E3A;
$ccBlue: #3a404c;
$ccGray: #BFBFBF;
$ccGreen: #25AD60;
$ccDarkGray: #333333;
$ccLightGray: #e6e6e6;
$ccLighterGray: #F8F8F8;
$ccWhite: #fff;
$neonGreen: #51E789;

/* Palette for client chat messages */
$userColorList: (
  #E6CDFE,
  #CDE6FE,
  #F8FECE,
  #CEFFFF,
  #FEE6CD,
  #CCCDFD,
  #FECDE6,
  #CDFECE,
  #E6FEF2,
  #FECCCD,
  #CB8391,
  #FFFECE,
);


$gray-light2: #F8F8F8;
$gray-darker: #222;
$pairChatBodyBgColor: $gray-light2;
$groupChatBodyBgColor: $gray-light2;
$defaultBodyBgColor: $gray-light2;

$btnBgColor: $ccWhite;
$disabledBtnBgColor: #e7e7e7;
$disabledBtnBorderColor: darken( $disabledBtnBgColor, 40% );
$bntSuccessColor: #27ae61;

$wrapperBgColor: transparent;
$borderColor: #cccccc;
$contentBgColor: #ffffff;
$borderRadius: 5px;
$bgImage: url("images/repeat_main.png");
$bgImagePair: url("images/bg_img_pair.png");
$bgImageGroup: url("images/bg_img_group.png");
// Room list colors
$roomInfoColor: #ffffff;
// Message callout colors
$messageBgColor: whitesmoke;
$messageCounselorBgColor: #f4faf4;
$messageClientBgColor: #f5f9fc;
// Message callout border colors
$messageBorderLeftColor: #cccccc;
$messageCounselorBLColor: darken( $messageCounselorBgColor, 40% );
$messageClientBLColor: darken( $messageClientBgColor, 40% );
// Message callout meta data (time etc) color
$messageMetaDataColor: #999999;
$messageCounselorMDColor: $ccBlack;
$messageClientMDColor: $ccBlack;
$messageHighlight: #ffffff;

/* Bootstrap overrides */
$brand-success: $ccGreen;

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);


/* Typography */
$font-smallest: 10px;
$font-smaller: 12px;
$font-sm: 13px;
$font-std: 14px;
$font-large: 16px;

/* Cyberhus Clean theme (used in widgets) */
/* Base colors*/
$color-red: #c34b4b;
$color-green: #688e36;
$color-blue: #1d9ed0;
$color-purple: #8d62a4;
$color-turquoise: #3f9b91;
$color-orange: #e19214;

$color-gray-dark: #1b1d1f;
$color-gray: #c7c7c7;
$color-gray-light: #f1f1f1;

$color-beige: #d4d3d3;

/* Text Colors */
$text-color: $color-gray-dark;
$text-color-light: #a1a1a1;
$link-color: $color-red;

/* Curachat additions */
$color-green-light: #80B45A;
$color-orange-light: #EBB560;
$color-sand: #F5D9AD;
$color-green-dark: #4d6928;

