// Utilities
@import "variables";

.not-logged-in {

  /* The sidebar is always visible in a group chat for anonymous clients*/
    &.groupchat #opeka-app .content.client-sidebar-0 {
      width: 66%;
  }

  #opeka-app {
    /* Anonymous clients can have the sidebar disabled */
    .content.client-sidebar-0 {
      width: 100%;
    }

    .content.client-sidebar-1 {
      width: 66%;
    }

  }

  .groupchat,
  .room-size-2 {
    .footer {
      display: none;
    }
  }

}

/* All users */
#opeka-app {

  .header,
  .footer {
    clear: both;
  }

  .content,
  .sidebar {
    float: left;
  }

  .content {
    width: 66%;
  }

  .sidebar {
    width: 33%;
  }

  .emoticon {
    margin-bottom: -6px;
  }

  .message {
    white-space: pre-wrap;
  }

  .return-sends-msg {
    margin: 0 2px 0 10px;
  }

  label[for="return-sends-msg"] {
    display: inline-block;
  }

  .dropdown-menu li {
    cursor: pointer;

    &:hover {
      background-color: $ccLightGray;
    }
  }

}
