// Utilities
@import "compass";
@import "variables";

.not-logged-in {
  /* The sidebar is always visible in a group chat for anonymous clients*/
  &.groupchat #opeka-app .content.client-sidebar-0 {
    width: 66%;
  }
  #opeka-app {
    /* Anonymous clients can have the sidebar disabled */
    .content.client-sidebar-0 {
      width: 100%;
    }
    .content.client-sidebar-1 {
      width: 66%;
    }
  }

  .groupchat,
  .room-size-2 {
    .footer {
      display: none;
    }
  }
}

/* All users */
#opeka-app {

  .header,
  .footer {
    clear: both;
  }

  .content,
  .sidebar {
    float: left;
  }

  .content {
    width: 66%;
  }

  .sidebar {
    width: 33%;
  }

  .sidebar-block .room-actions .btn {
    clear: both;
    margin-bottom: .5em;
  }

  .emoticon {
    margin-bottom: -6px;
  }

  .message {
    white-space: pre-wrap;
  }

  .chat-message-list-wrapper {
    position: relative;
    padding-bottom: 12px;
  }

  .form-submit.send {
    vertical-align: top;
  }

  .chat-flow-controls {
    display: inline-block;
  }

 .writers-message {
    width:100%;
    padding: .2em .5em;
    box-sizing: border-box;
    font-size: .8em;
    font-weight: normal;
    position: absolute;
    bottom: 0px;
    left: 0;
  }

  .return-sends-msg, .dont-auto-scroll, .return-writers-msg {
    margin: 0 2px 0 10px;
  }

  label[for="return-sends-msg"],
  label[for="dont-auto-scroll"],
  label[for="return-writers-msg"]  {
    display: inline-block;
  }

  .dropdown-menu li {
    cursor: pointer;

    &:hover {
      background-color: $ccLightGray;
    }
  }
}

/* Admin page */
body.page-admin-config-services-opeka-screening .btn.btn-info {
  margin-bottom: 1em;
}

/* Chat status in nav header */
.online-status-view .status {
  display: inline-block;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  padding: 15px;
  background-image: url(../img/chat_status_closed.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 10px 10px;
  &.chat-busy {
    background-image: url(../img/chat_status_busy.svg);
  }
  &.chat-open {
    background-image: url(../img/chat_status_open.svg);
  }
}

/* Logged in users */
body.page-admin-opeka {
  .app-view {
     /* Screening */
    .screening-wrapper {
      display: inline-block;
      position: relative;
    }
    .screening-question {
      position: absolute;
      left: 0;
      top: 30px;
      width: 225px;
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      @include border-radius(6px);
      @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
      display: none;
      padding: 2px;
      white-space: normal;
      z-index: 1010;
    }

  }

}
/* Login page */
body.page-opeka {
  select.form-select.gender {
    height: 28px;
  }
  label.screening-label {
    display: none;
    line-height: inherit;
    padding-top: 0;
  }
  input.screening {
    margin-top: 0;
  }
  span.screening-option {
    line-height: 25px;
    padding-left: 8px;
  }
}
