/* Drupal administration pages */

body.page-admin {
  .form-type-textarea,
  .form-type-textfield,
  .form-type-select {
    max-width: 500px;
  }
  .form-submit {
    margin-top: 1em;
  }
}

body.page-admin-config-services-opeka-screening {
  #fieldset-opeka-screening-options {
    .form-item {
      max-width: 300px;
      margin-bottom: .5em;
    }
  }
  .btn.btn-info {
    margin-bottom: 1em;
  }
}
body.page-admin-config-services-opeka-opening-hours {
  #fieldset-opeka-opening-hours-datetimes {
    margin-bottom: 1em;
    .form-item {
      float: left;
    }
    .form-type-select {
      clear: left;
    }
    button.form-submit {
      clear: left;
      float: left;
    }
  }
}
