// Utilities
@import "compass";
@import "variables";
@import "mixins";

/* General styles that are needed on non-opeka pages */

/* Footer */

/* Branding */

body.logged-in,
body.not-logged-in {
  footer.footer {
    display: none;
    border: none;
    padding: 0;
  }

  @include desktop-width {
    footer.footer {
      display: block;
    }
    .logo1 {
      display: inline-block;
      margin-right: 20px;
      max-width: 200px;
    }
    .logo2 {
      display: inline-block;
      max-width: 440px;
    }
    .footer-branding {
      float: right;
    }
  }
}


/* Drupal administration pages */

body.page-admin {
  .form-type-textarea,
  .form-type-textfield,
  .form-type-select {
    max-width: 500px;
  }
  .form-submit {
    margin: 1em 0;
  }
}

