/* Styling for the header widget */
// Utilities
@import "variables";

.status-content {
  margin: 0;
  max-width: 300px;
  @media (min-width: $smart) {
    display: inline-block;
    margin-right: 1em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
}

.read-more {
  display: inline-block; 
  margin: 10px 0 0; 
  text-align: center; 
  width: 100%;
  
  a {
    color: $ccBlue; 
    text-decoration: none;
  }
}

/* Buttons */
.login-button {
  @media (min-width: $smart) {
    position: absolute;
    right: 2em;
    bottom: 2em;
    margin-right: 1em;
  }
  .btn {
    color: $text-color;
  }
  .button-subtext {
    font-style: italic;
    margin-top: .3em;
    max-width: 170px;
  }
}
body.chat-open {
  .login-button .btn {
    background-color: #ffffff;
    color: $text-color;
  }
}

