/* General styling applied to all widgets */
// Utilities
@import "variables";

html, body {
  background: none transparent;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0px;

  p {
    color: #fff;
    margin: 0;
  }
}


/* Don't show admin menu on the widget pages */
html body.admin-menu.page-opeka-widgets {
  margin-top: 0px !important;

  #admin-menu {
    display: none;
  }
}
/* Buttons */
.login-button {
  .btn {
    border: none;
    box-shadow: none;
    background: transparent none repeat scroll 0% 0%;
    color: #fff;
    font-size: $font-std;
    padding: .7em 1em;
    text-shadow: none;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;

    .chat-open & {
      background-color: darken($ccGreen, 10%);
      &:hover {
        background-color: darken($ccGreen, 20%);
      }
    }
  }
}

/* Name tab */
.name-tab {
  background-color: $ccGray;
}

/* Status tab */
.status-tab {
  color: #fff;
  font-weight: bold;
  font-size: $font-large;
  margin-bottom: 5px;
  width: 100%;
}

/* Status wrapper */
.status-wrapper {
  background-color: $ccGray;
  font-size: $font-std;
  height: 100%;
  padding: 10px;
}

.chat-open .status-wrapper,
.chat-open .name-tab {
  background-color: $ccGreen;
}

.chat-busy .status-wrapper,
.chat-busy .name-tab {
  background-color: $ccOrange;
}

.chat-closed .status-wrapper,
.chat-closed .name-tab {
  background-color: $ccOrange;
}

.status-content {
  margin: 0 8px;

  a {
    color: white;
    text-decoration: underline;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }

  .opening-hours {
    margin-bottom: 10px;
  }

  .opeka-multi-widget-iframe {
    margin-bottom: 0;
  }
}

.status-info {
}
.read-more {
  display: inline-block; 
  margin: 10px 0 0; 
  text-align: center; 
  width: 100%;
}
.read-more a { 
  text-decoration: underline;
}
.read-more a:hover{
  text-decoration: underline;
}
