/* Styling for the inline widget */
// Utilities
@import "variables";

/* Status wrapper inline widget */
body.page-opeka-widgets-inline {
  .status-wrapper {
    background-color: $ccWhite;
    height: 100%;
    padding: 0;
    text-align: center;
    &.chat-open,
    &.chat-busy,
    &.chat-closed {
      background-color: $ccWhite;
    }
  }

  .login-button {
    .btn {
      display: inline-block;
      height: 100%;
      line-height: 24px;
      padding: .7em 0;
      width: 100%;
      max-width: 300px;
    }
  }
}