/* Styling for the header widget */
// Utilities
@import "variables";

/* Buttons */
.login-button {
  bottom: 30px;
  position: absolute;
  right: 15px;
}

.status-content {
  margin: 0;
  max-width: 300px;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
}

.status-info {
}
.read-more {
  display: inline-block; 
  margin: 10px 0 0; 
  text-align: center; 
  width: 100%;
  
  a {
    color: $ccBlue; 
    text-decoration: none;
  }
}
