// Utilities
@import "compass";
@import "variables";
@import "mixins";

html,
body {
  background: none transparent;
  background-image: none;
  color: #fff;
  font-size: 13px;
  height: 100%;
  line-height: 1.3;
  overflow: hidden;
  padding: 0px;
  margin: 0;
  p {
    color: #fff;
    margin: 0 0 5px 0;
  }
  body.admin-menu.page-opeka-widgets {
    margin-top: 0px !important;
  }
  body.admin-menu.page-opeka-widgets #admin-menu {
    display: none;
  }
}

body.chat-open,
body.chat-busy {
  background-image: none;
}
body.chat-open {
  &,
  .status-wrapper,
  .name-tab {
    background-color: $color-green-light;
  }
  .login-button .btn {
    background-color: $color-green-dark;
    color: white;
  }
}

body.chat-busy {
  &,
  .status-wrapper,
  .name-tab {
    background-color: $color-orange;
  }
}

.name-tab {
  background-color: $ccGray;
}

.status-tab {
  color: #fff;
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 1em;
  width: 100%;
}

.status-wrapper {
  background-color: $ccGray;
  font-size: 1em;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
}

.chat-closed {
  .status-wrapper,
  .name-tab {
    background-color: $color-gray;
  }
}

.status-content {
  margin: 0;
  a {
    color: white;
    text-decoration: underline;
  }
}

.status-content {
  &,
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  ul,
  .opening-hours {
    margin-bottom: 10px;
  }
}

.read-more {
  display: inline-block;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}

.login-button .btn {
  display: inline-block;
  background-color: white;
  padding: 0.85em 1.5em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  font-size: 12px;
  opacity: 1;
  line-height: 1;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
