/* Styling for the popup widget
 *
 */

// Utilities
@import "variables";
@import "mixins";

body.page-opeka-widgets-popup {
  background-color: transparent;
  .status-wrapper {
    background-color: transparent;
    color: #ffffff;
    display: inline-block;
    max-width: 1180px;
    padding: 0;
    @include narrow-width {
      max-width: 700px;
    }
    @include small-desktop-width {
      max-width: 960px;
    }
    @include desktop-width {
      max-width: 1180px;
    }
    @media (max-height: 50px) {
    }
    @media (max-height: 50px) and (min-width: 768px){
    }
  }

  &.chat-open {
    .status-wrapper {
      background-color: transparent;
    }
    .login-button .btn {
      background-color: $color-green-light;
    }
  }

  &.chat-busy {
    .status-wrapper {
      background-color: transparent;
    }

    .chat-name {
      color: $text-color;
    }
    .login-button .btn {
      background-color: $color-orange-light;
      color: #ffffff;
    }
  }
  &.chat-closed {
    .status-wrapper {
      background-color: transparent;
    }
    .name-tab {
      background-color: transparent;
    }
    .login-button .btn {
      background-color: $ccWhite;
    }
  }

  .chat-name {
    display: inline-block;
    font-size: $font-std;
    font-weight: 700;
    line-height: 16px;
    margin-right: 1em;
    vertical-align: top;

    @include narrow-width {
      font-size: $font-large;
    }
    @include desktop-width {
      //width: 250px;
    }
  }
  .status-content {
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    //max-width: 50%;
    //@include vertical-align();

    &, p {
      color: #1b1d1f;
      margin: 0;
    }
    ul, li, p {
      display: inline;
    }
    a {
      color: $text-color;
      font-size: $font-smaller;
    }
    @media (max-height: 26px) {
      line-height: 1.5;
    }
    @media (max-width: 1023px) {
      //display: none;
    }
  }

  .login-button {
    display: inline-block;
    height: 100%;
    position: relative;
    //bottom:auto;
    //right: auto;
    vertical-align: top;
    /* Avoid text overflow */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include narrow-width {
      //padding-left: 2em;
    }

    .btn {
      background-color: $ccWhite;
      background-image: none;
      font-weight: 700;
      line-height: 1.7;
      padding: .2em;
      border-radius: 0;
      border: 1px solid #ccc;
      height: 100%;

      @include narrow-width {
        font-size: 14px;
        padding: 0.85em 1em;
      }
      @media (min-height: 30px) {
        font-size: 12px;
        line-height: 2;
      }
    }
  }
  .button-wrapper {
    height: 100%;
    float: right;
  }
  a.close {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 20px;
    width: 20px;
    background: url(../img/close-white.png);
    background-image: url(../img/close-white.svg), none;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    opacity: 1;
    text-indent: -9999px;
  }
  &.chat-open a.close {
    background: url(../img/close-black.png);
    background-image: url(../img/close-black.svg), none;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
}
