/* Styling for the inline widget */

// Utilities
@import "variables";
@import "mixins";

/* inline widget */

body.page-opeka-widgets-inline {
  background: none transparent;
  .status-content {
    p,ul {
      color: $ccBlack;
    }
    li {
      display: inline;
      &:after {
        content: ",";
      }
      &.last:after {
        content: none;
      }
    }
    display: inline-block;
    margin: 0;
  }
  .login-button {
    display: block;
    text-align: center;
    .btn {
      background-color: $ccGray;
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      line-height: 24px;
      padding: .7em;
      width: 100%;
      max-width: 24em;
    }
  }
  &.chat-closed .login-button .btn {
    background-color: $ccGray;
    cursor: default;
  }
  &.chat-busy .login-button .btn {
    background-color: darken($ccOrange, 10%);
    cursor: default;
  }
  &.chat-open .login-button .btn {
    background-color: $ccGreen;
    &:hover {
      background-color: darken($ccGreen, 10%);
    }
  }
}

@media (max-width: $mob) {
  body.page-opeka-widgets-inline {
    .status-content {
      display: none;
    }
    .login-button {
      .btn {
        padding: .4em 0;
      }
    }
    &.chat-open .login-button .btn {
      background-color: darken($ccGreen, 10%);
      &:hover {
        background-color: darken($ccGreen, 20%);
      }
    }
  }
}

@include smart-width {
  body.page-opeka-widgets-inline {
    .status-content {
      width: 67%;
    }
    .login-button {
      position: absolute;
      top: 5px;
      display: inline-block;
    }
  }
}

