/* Styling for the inline widget */

// Utilities
@import "variables";

/* inline widget */

body.page-opeka-widgets-inline {
  background: none transparent;
  .login-button {
    text-align: center;
    .btn {
      background-color: $ccGray;
      display: inline-block;
      height: 100%;
      line-height: 24px;
      padding: .7em 0;
      width: 100%;
      max-width: 300px;
    }
  }
  &.chat-closed .login-button .btn {
    background-color: $ccGray;
    cursor: default;
  }
  &.chat-busy .login-button .btn {
    background-color: $ccOrange;
    cursor: default;
  }
  &.chat-open .login-button .btn {
    background-color: darken($ccGreen, 10%);
    &:hover {
      background-color: darken($ccGreen, 20%);
    }
  }
}

@media (max-width: 180px) {
  body.page-opeka-widgets-inline {
    .login-button {
      .btn {
        padding: .4em 0;
      }
    }
    &.chat-closed .login-button .btn,
    &.chat-busy .login-button .btn {
      background-color: $ccOrange;
      cursor: default;
    }
    &.chat-open .login-button .btn {
      background-color: $ccGreen;
      &:hover {
        background-color: darken($ccGreen, 10%);
      }
    }
  }
}
